<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<meta charset="UTF-8">

<head th:replace="parts/common :: header">
    <title>Administration page</title>
</head>

<body>

<div th:insert="parts/navbar :: navbar (${false}, ${true})"></div>

<div class="container mt-5">

    <div class="row">

        <form th:action="@{/admin/filterByName}" method="post">
            <div class="col">
                <input input class="form-control" type="text" name="username" placeholder="User Name"/>
            </div>
            <div class="col">
                <input class="btn btn-primary mt-3" type="submit" value="Find"/>
                <div th:if="${message}" th:text="${message}"></div>
            </div>
        </form>

        <form th:action="@{/admin/filterByStatus}" method="post">
            <div class="col">
                <input class="btn btn-primary" type="submit" value="Show active users"/>
            </div>
        </form>

        <form th:action="@{/admin/allusers}" method="post">
            <div class="col">
                <input class="btn btn-primary" type="submit" value="Show all users"/>
            </div>
        </form>

    </div>

    <table class="table mt-3">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Username</th>
            <th scope="col">Mail</th>
            <th scope="col">Activity</th>
            <th scope="col">Roles</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.username}"></td>
            <td th:text="${user.mail}"></td>
            <td th:text="${user.active}"></td>
            <td th:text="${user.roles}"></td>
            <td>
                <form th:action="@{'/admin/useredit/'+${user.id}}" method="get">
                    <input class="btn btn-primary" type="submit" value="edit"/>
                </form>
            </td>
        </tr>
    </table>

</div>

<div th:replace="~{parts/common :: lib}"></div>

</body>
</html>