<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<meta charset="UTF-8">

<head th:replace="~{parts/common :: header}">
    <title>Main page</title>
</head>

<body>

<div th:insert="parts/navbar :: navbar (${false}, ${false})"></div>

<div class="container mt-5">

    <div class="row">
        <div class="col">
            <a class="btn btn-primary mt-3" data-toggle="collapse" href="#collapseExample" role="button"
               aria-expanded="false"
               aria-controls="collapseExample">
                Leave appeal
            </a>

        </div>

        <div class="col">
            <form th:action="@{/filter}" method="post">
                <div>
                    <input class="btn btn-primary mt-3" type="submit" value="Show my appeals"/>
                </div>
            </form>
        </div>


        <div class="col">
            <form th:action="@{/allapp}" method="post">
                <div>
                    <input class="btn btn-primary mt-3" type="submit" value="Show all appeals"/>
                </div>
            </form>
        </div>
    </div>

    <div class="collapse mt-3" id="collapseExample">
        <form th:action="@{/main}" method="post">
            <div class="form-group">
                <textarea class="form-control" name="text" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <div>
                <input class="btn btn-primary" type="submit" value="Send"/>
            </div>
        </form>
    </div>

    <table class="table mt-3">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Author</th>
            <th scope="col">Appeal</th>
            <th scope="col">Accepted</th>
            <th scope="col">Done</th>
            <th scope="col">Status</th>
            <th scope="col">Response</th>
            <th sec:authorize="hasAnyAuthority('ADMIN')"></th>
        </tr>
        </thead>
        <tr th:each="app : ${appeals}">
            <td th:text="${app.author.username}"></td>
            <td th:text="${app.text}"></td>
            <td th:text="${app.addtimestamp.toString().substring(0,16)}"></td>
            <td th:if="${app.donetimestamp} != null" th:text="${app.donetimestamp.toString().substring(0,16)}"></td>
            <td th:if="${app.donetimestamp} == null" th:text="' - '"></td>
            <td th:text="${app.status}"></td>
            <td th:text="${app.response}"></td>
            <td sec:authorize="hasAnyAuthority('ADMIN')">
            <form th:action="@{'/admin/appeal/'+${app.id}}" method="get">
            <input class="btn btn-primary" type="submit" value="response"/>
            </form>
            </td>
        </tr>
    </table>

</div>

<div th:replace="~{parts/common :: lib}"></div>

</body>
</html>