<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<meta charset="UTF-8">

<head>
    <title>Work page</title>
</head>
<p>
<h5 th:inline="text">Здравствуйте, [[${#httpServletRequest.remoteUser}]]!
    <form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form></h5>

</p>

<div>
    <form th:action="@{/main}" method="post">
        <div><label> Напишите обращение <input type="text" name="text"/> </label></div>
        <div><input type="submit" value="Отправить"/></div>
    </form>
</div>

</p>

<form method="post" action="filter">
    <button type="submit">Показать мои обращения</button>
</form>

<table>
    <tr>
        <th>Id</th>
        <th>Author</th>
        <th>Application</th>
        <th>Date accepted</th>
        <th>Done accepted</th>
        <th>Status</th>
        <th>Responce</th>
    </tr>
    <tr th:each="count : ${applications}">
        <td th:text="${count.id}"></td>
        <td th:text="${count.author.username}"></td>
        <td th:text="${count.text}"></td>
        <td th:text="${count.addtimestamp}"></td>
        <td th:text="${count.donetimestamp}"></td>
        <td th:text="${count.status}"></td>
        <td th:text="${count.response}"></td>
    </tr>
</table>


</body>
</html>