<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<meta charset="UTF-8">

<head th:replace="parts/common :: header">
    <title>User page</title>
</head>

<body>

<div th:insert="parts/navbar :: navbar (${false}, ${false})"></div>

<div class="container mt-5">


    <form th:action="@{/admin/useredit}" method="post">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label"> User Name : </label>
            <div class="col-sm-6" th:text="${user.username}">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label"> e-mail : </label>
            <div class="col-sm-6" th:text="${user.mail}">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label"> Active: </label>
            <div class="col-sm-6">
                <select class="custom-select mr-sm-2" name="active">
                    <option selected th:value="${user.active}">[[${user.active}]]</option>
                    <option th:value="${!user.active}">[[${!user.active}]]</option>
                </select>
            </div>
        </div>
        <input type="hidden" name="id" th:value="${user.id}">
        <block th:each="role : ${roles}">
            <div class="form-group row">
                <div class="col-sm-2"></div>
                <div class="form-check">
                    <label class="form-check-label"><input class="form-check-input" type="checkbox" th:name="${role}"
                                                           th:value="${role}"
                                                           th:checked="${#sets.contains(user.roles, role)}">[[${role}]]</label>
                </div>
            </div>
        </block>

        <div class="form-group row">
            <div class="col-sm-6">
                <input class="btn btn-primary" type="submit" value="Save"/>
            </div>
        </div>

    </form>

    <form th:action="@{/admin/useredit/delete}" method="post">
        <div class="form-group row">
            <div class="col-sm-6">
                <input type="hidden" name="id" th:value="${user.id}">
                <input class="btn btn-primary" type="submit" value="Delete"/>
            </div>
        </div>
    </form>

    <div th:if="${message}">
        <p th:text="${message}"/>
    </div>

</div>

<div th:replace="~{parts/common :: lib}"></div>

</body>
</html>