<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<div th:fragment="navbar (isRegistrationForm, isAdminForm)">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Appeal</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Main</a>
            </li>
            <li class="nav-item" sec:authorize="hasAnyAuthority('ADMIN')" th:if="${!isAdminForm}">
                <a class="nav-link"  href="/admin">Administration</a>
            </li>
            <li class="nav-item" sec:authorize="anonymous" th:if="${!isRegistrationForm}">
                <a class="nav-link"  href="/registration">Registration</a>
            </li>
            <li class="nav-item" sec:authorize="authenticated">
                <a class="nav-link"  href="/profile">Profile</a>
            </li>
        </ul>


        <div class="navbar-text mr-3">[[${#httpServletRequest.remoteUser}]]</div>

        <div>
            <form th:action="@{/logout}" method="post" sec:authorize="authenticated">
            <input class="btn btn-primary" type="submit" value="Sign Out"/>
            </form>
        </div>
    </div>

</nav>
</div>